.destaqueContainer{
    width: 64.5rem;
    height: 22rem;
    position: absolute;
    margin-left: 17rem;
    margin-top: 8rem;
    display: flex;

    .texto{
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        overflow: scroll;
        

    }
    
}