.banerContainer{
    height: 16rem;
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: rgb(150, 93, 167);
    
    

    .nome{
        padding-top: 13rem;
        padding-left: 18rem;
        color: rgb(42, 212, 212)
    
    }
    
    .foto{
        width: 66.5rem;
        margin-bottom: 10px;
        position:absolute;
    }


}

