*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(247, 173, 175);
}

button{
    cursor: pointer;
}
html{
    font-family: Helvetica, sans-serif;
}

@media (max-width: 1080px) {
    html{
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html{
        font-size: 87.5%;
    }
}